---
layout: default
---
	<!-- Header -->
	<header id="home">
		<!-- Background Image -->
		<div class="bg-img" style="background-image: url('./img/background1.jpg');">
			<div class="overlay"></div>
		</div>
		<!-- /Background Image -->

		<!-- Nav -->
		{% include header-nav.html %}
		<!-- /Nav -->

		<!-- home wrapper -->
		<div class="home-wrapper">
			<div class="container">
				<div class="row">

					<!-- home content -->
					<div class="col-md-10 col-md-offset-1">
						<div class="home-content">
							<h1 class="white-text">WORK<span style="color: #840091">&nbsp;|&nbsp;</span>INNOVATE<span style="color: #840091">&nbsp;|&nbsp;</span>NETWORK</h1>
							<!--
                            <p class="white-text">Morbi mattis felis at nunc. Duis viverra diam non justo. In nisl. Nullam sit amet magna in magna gravida vehicula. Mauris tincidunt sem sed arcu. Nunc posuere.
							</p>
							<button class="white-btn">Get Started!</button> -->
							<a href="#features"><button class="main-btn">Learn more</button></a>
						</div>
					</div>
					<!-- /home content -->

				</div>
			</div>
		</div>
		<!-- /home wrapper -->

	</header>    
	<!-- /Header -->

    <!-- About -->
	
	<!-- /About -->


	<!-- Portfolio -->
	
	<!-- /Portfolio -->


	<!-- Why Choose Us -->
	{% include why-us.html %}
	<!-- /Why Choose Us -->

	<!-- Service -->
	{% include services.html %}
	<!-- /Service -->

	<!-- Numbers -->
	
	<!-- /Numbers -->

	<!-- Pricing -->
	{% include pricing.html %}
	<!-- /Pricing -->


	<!-- Testimonial -->
	
	<!-- /Testimonial -->

	<!-- Team -->
	
	<!-- /Team -->

	<!-- Recent News -->
	
	<!-- /Recent News -->

	<!-- Contact -->
	{% include contact.html %}
	<!-- /Contact -->