	<div id="contact" class="section md-padding">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section-header -->
				<div class="section-header text-center">
					<h2 class="title">Contact Us</h2>
					<p>Please write to us to schedule a visit or sign up.</p>	
				</div>
				<!-- /Section-header -->

				<!-- contact -->
				<div class="col-sm-4">
					<div class="contact">
						<i class="fa fa-phone"></i>
						<h3>Phone</h3>
						<p>+91 8026613100</p>
					</div>
				</div>
				<!-- /contact -->

				<!-- contact -->
				<div class="col-sm-4">
					<div class="contact">
						<i class="fa fa-envelope"></i>
						<h3>Email</h3>
						<p>email@support.com</p>
					</div>
				</div>
				<!-- /contact -->

				<!-- contact -->				
				<div class="col-sm-4">
					<div class="contact">
						<i class="fa fa-map-marker"></i>
						<h3>Address</h3>
						<p>#27, Shankar Mutt Road, Shankarpuram, Bangalore - 560 004</p>
					</div>
				</div>
				<!-- /contact -->	

				<!-- contact form -->				
				<div class="col-md-6">
					<form class="contact-form" action="https://formspree.io/exponenthash@gmail.com" method="POST">
						<input type="text" class="input" placeholder="Name" name="name">
						<input type="email" class="input" placeholder="Email" name="_replyto">
						<input type="text" class="input" placeholder="Subject" name="subject">
						<textarea class="input" placeholder="Message" name="message"></textarea>
						<input class="main-btn" type="submit" value="Send">
					</form>
					<!--<form class="contact-form">
						<input type="text" class="input" placeholder="Name">
						<input type="email" class="input" placeholder="Email">
						<input type="text" class="input" placeholder="Subject">
						<textarea class="input" placeholder="Message"></textarea>
						<button class="main-btn">Send message</button>
					</form>-->
				</div>
				<!-- /contact form -->

				<!-- google maps -->
				<div class="col-md-6">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.3463709045586!2d77.56785131482172!3d12.949673990870282!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae158db9b90c69%3A0x23c9a03d4505a8cc!2sRound+Pegs+Round+Holes+Pvt.+Ltd.!5e0!3m2!1sen!2sin!4v1534245849359" width="600" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
				
				<!-- google maps -->			

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>