	<div id="pricing" class="section md-padding bg-grey">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section header -->
				<div class="section-header text-center">
					<h2 class="title">MEMBERSHIP PLANS</h2>
				</div>
				<!-- /Section header -->

				<!-- pricing -->
				<div class="col-sm-4">
					<div class="pricing">
						<div class="price-head">
							<span class="price-title">MONTHLY</span>
							<div class="price">								
								<h3><i class="fa fa-inr"></i>5500<span class="duration"> / month</span></h3>
							</div>
						</div>
						<ul class="price-content">
							<li>
								<p>Access for 10 working days of the month</p>
							</li>
							<li>
								<p>Hot Desk</p>
							</li>
							<li>
								<p>Free WiFi</p>
							</li>
							<li>
								<p>Free Locker Facility</p>
							</li>
							<li>
								<p>Discounted Price for Conference Room</p>
							</li>							
							<li>
								<p>Free Beverages</p>
							</li>
							<li>
								<p>One Month Refundable Deposit</p>
							</li>								
							<li>
								<p>Mailing Address</p>
							</li>															
							<li>
								<p>Free Jumpstarter Event Passes</p>
							</li>											
						</ul>
						<!--<div class="price-btn">
							<button class="outline-btn">Purchase now</button>
						</div>-->
					</div>
				</div>
				<!-- /pricing -->
				
				<!-- pricing -->
				<div class="col-sm-4">
					<div class="pricing">
						<div class="price-head">
							<span class="price-title">10-DAY ACCESS</span>
							<div class="price">								
								<h3><i class="fa fa-inr"></i>2500<span class="duration"> / month</span></h3>
							</div>
						</div>
						<ul class="price-content">
							<li>
								<p>Access for All working days of the month</p>
							</li>
							<li>
								<p>Dedicated Desk</p>
							</li>
							<li>
								<p>Free WiFi</p>
							</li>
							<li>
								<p>Free Locker Facility</p>
							</li>
							<li>
								<p>Discounted Price for Conference Room</p>
							</li>							
							<li>
								<p>Free Beverages</p>
							</li>
							<li>
								<p>Discounted Jumpstarter Event Passes</p>
							</li>											
						</ul>
						<!--<div class="price-btn">
							<button class="outline-btn">Purchase now</button>
						</div>-->
					</div>
				</div>
				<!-- /pricing -->

				<!-- pricing -->
				<div class="col-sm-4">
					<div class="pricing">
						<div class="price-head">
							<span class="price-title">DAILY</span>
							<div class="price">								
								<h3><i class="fa fa-inr"></i>300<span class="duration"> / day</span></h3>
							</div>
						</div>
						<ul class="price-content">
							<li>
								<p>For the day</p>
							</li>
							<li>
								<p>Dedicated Desk</p>
							</li>
							<li>
								<p>Free WiFi</p>
							</li>							
							<li>
								<p>Regular Price for Conference Room</p>
							</li>							
							<li>
								<p>Free Beverages</p>
							</li>
							<li>
								<p>Discounted Jumpstarter Event Passes</p>
							</li>											
						</ul>
						<!--<div class="price-btn">
							<button class="outline-btn">Purchase now</button>
						</div>-->
					</div>
				</div>
				<!-- /pricing -->

			</div>
			<!-- Row -->

		</div>
		<!-- /Container -->

	</div>
