<div id="service" class="section md-padding">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section header -->
				<div class="section-header text-center">
					<h2 class="title">WHAT DO WE PROVIDE?</h2>
				</div>
				<!-- /Section header -->

				<!-- service -->
				<div class="col-md-3 col-sm-6">
					<div class="service">
						<i class="fa fa-desktop"></i>
						<h3>WORKSPACE</h3>
						<p>Spacious desk, ergonomic chair and locker facilities.</p>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-3 col-sm-6">
					<div class="service">
						<i class="fa fa-bolt"></i>
						<h3>CONTINUITY</h3>
						<p>Ample laptop charging points and power back-up.</p>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-3 col-sm-6">
					<div class="service">
						<i class="fa fa-users"></i>
						<h3>HUDDLE</h3>
						<p>Conference Room with whiteboard.</p>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-3 col-sm-6">
					<div class="service">
						<i class="fa fa-graduation-cap"></i>
						<h3>INCUBATION</h3>
						<p>Startup mentoring with help on Technology, HR and Marketing needs.</p>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-3 col-sm-6">
					<div class="service">
						<i class="fa fa-rss"></i>
						<h3>CONNECTIVITY</h3>
						<p>High speed broadband Wi-Fi.</p>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-3 col-sm-6">
					<div class="service">
						<i class="fa fa-coffee"></i>
						<h3>QUENCH</h3>
						<p>Free filtered water, hot beverages, access to microwave and refrigerator.</p>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-3 col-sm-6">
					<div class="service">
						<i class="fa fa-cog"></i>
						<h3>IMPRESSION</h3>
						<p>Access to printer & scanner.</p>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-3 col-sm-6">
					<div class="service">
						<i class="fa fa-life-ring"></i>
						<h3>LOUNGE</h3>
						<p>Take a break & catchup on news.</p>
					</div>
				</div>
				<!-- /service -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>